<!DOCTYPE html>
<html lang = "en">

    <head>
        <meta charset = "UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
 
<body class="bg">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">HOMEPAGE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home <span class="sr-only"></span></a>
            <a class="nav-item nav-link active" href="other">Other <span class="sr-only"></span></a>
        </div>
    </nav>

<center>
    <div class="mt-5" name="currentDay">
    <h3>
        <p name="LOCATION">
        <%= weatherData[0].location["name"]; %>

        <%= weatherData[0].location["lat"];%>
        ,
        <%= weatherData[0].location["long"];%>
        </p>
    </h3>

    <div name="Today">
        <h3>Today</h3>
        <img src="../<%=weatherData[0].current["skytext"]%>.png" width=128px> 
        <h4><%= weatherData[0].current["date"]; %> </h4>
        <h4><%= weatherData[0].current["temperature"]; %>°C </h4>
    </div>

    <br>
    </div>

</center>
<div class="row justify-content-center mt-5">
    <% for(wDay of weatherData[0].forecast) { %>
        <div class="col align-self-center text-center">
            <!-- Insert logo here -->

            <img src="../<%=wDay["skytextday"]%>.png" width=128px>

            <h3><%= wDay["day"]%></h3>
            
            <h5><%= wDay["date"] %></h5>
            
            <h5>Forecast: <%= wDay["skytextday"]%> </h5>
            
            <h5>Low: <%= wDay["low"]%> °C</h5>
            
            <h5>High: <%= wDay["high"]%> °C</h5>
        </div>    
    <% } %>

</div>


    



       
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
  </body>



</html> 
